.signin {
  margin: 50px auto;
}

p {
  font-size: 25px;
}

button {
  background-color: rgb(224, 209, 236);
  color: rgb(42, 4, 77);
  font-size: 28px;
  font-weight: 600;
  border: none;
  padding: 6px 16px;
  border-radius: 5px;
  cursor: pointer;
}
