.navbar {
  padding: 20px;
  display: grid;
  grid-template-rows: 150px 300px;
}

.nav-links {
  display: grid;
  grid-template-rows: 3;
}

.nav-links div {
  margin: 10px;
  font-size: 30px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

.nav-links a {
  color: rgb(62, 8, 112);
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

img {
  border-radius: 50%;
}

.user-pic {
  display: grid;
  grid-template-rows: 3;
  align-items: center;
}

.user-pic p,
img,
button {
  margin: 10px auto;
}

.user-pic p {
  font-size: 20px;
  font-weight: 600;
  opacity: 60%;
}
