.create-post {
  display: grid;
  margin-top: 50px;
  padding: 50px 20px;
  grid-template-columns: 1fr;
  background-color: rgb(245, 242, 252);
  border-radius: 4px;
}

textarea {
  width: 90%;
  height: 250px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

textarea::placeholder,
input[type="text"]::placeholder {
  font-size: 20px;
  font-family: monospace;
}

input[type="text"] {
  width: 90%;
  height: 40px;
  padding: 3px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type="text"]:focus {
  border: 2px solid #555;
}

input[type="submit"] {
  background-color: rgb(224, 209, 236);
  color: black;
  font-size: 18px;
  border: none;
  padding: 6px 16px;
  border-radius: 5px;
  cursor: pointer;
}
